* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
}


.data_table {
  /* background-color: burlywood; */
  background-color: #FEF5ED;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  
}

th, td {
  padding: 15px;
}

table {
  border-collapse: collapse;
}

table thead tr {
  width: 100%;
  /* position: fixed; */
}

table thead tr th {
  background-color: #d3e0ea;
  color: black;
  /* padding: 8.5px 0px; */
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.199);
  /*position: -webkit-sticky;*/ /* this is for all Safari (Desktop & iOS), not for Chrome*/
  /* position: sticky; */
  
  top: -0.20%;
  z-index: 1;
}




/* Common Modal Styling For All */
.return_modal, .booking_modal{
  /* background-color: rgb(255, 255, 255); */
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.96;
}



.returnModal_content, .bookingModal_content {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  border-radius: 4px;
  overflow: auto;
}

.select_product {
  padding: 2%;
  margin: 0 0 30px 0;
  border-bottom: 1px solid black;
}

.product_dropdown {
  margin: 0 0 30px 0;
}

.select_product select {
  width: 100%;
  margin: 0 0 10px 0;
}

.booking_dates {
  padding: 2%;
  margin: 0 0 30px 0;
  border-bottom: 1px solid black;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px; */
}

.datePicker_dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 30px 0px; */
}

.bookingModal_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}














/* Validation Error Messages */

.error_message {
  margin-top: 5px;
  color: red;
}